<nav class="navbar navbar-light" id="ftco-navbar">
    <div class="container">
        <img src="assets/image/download.png">
        <a class="navbar-brand" href=" ">JobPortal</a>
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu">Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a [routerLink]="['/addjob']" class="nav-link">Add Jobs</a></li>
                <li class="nav-item"><a [routerLink]="['/']" class="nav-link">View Jobs</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8 mb-5">
                <form action="#" class="p-5 bg-white">
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Job ID</label>
                            <input type="number" name="jobId" [(ngModel)]="job.jobId" class="form-control" placeholder="eg. 11576635">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Job Title</label>
                            <input type="text" name="jobTitle" [(ngModel)]="job.jobTitle" class="form-control"
                                placeholder="eg. Professional UI/UX Designer">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Job Category</label>
                            <input type="text" name="jobCategory" [(ngModel)]="job.jobCategory" class="form-control"
                                placeholder="eg. Developer/Analyst">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Location</label>
                            <input type="text" name="primaryLocation" [(ngModel)]="job.primaryLocation" class="form-control" placeholder="Bangalore, India">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Additional Location</label>
                            <input type="text" name="additionalLocation" [(ngModel)]="job.additionalLocation" class="form-control" placeholder="Bangalore, India">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Schedule</label>
                            <input type="text" name="schedule" [(ngModel)]="job.schedule" class="form-control"
                                placeholder="eg. Shifts">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Job Type</label>
                            <input type="text" name="jobType" [(ngModel)]="job.jobType" class="form-control"
                                placeholder="eg. Developer/Analyst">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Job Summary</label>
                            <div class="col-md-12 mb-3 mb-md-0">
                                <textarea name="jobsummary" name="jobSummary" [(ngModel)]="job.jobSummary" class="form-control" id="" cols="30" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <h3>Job Description</h3>
                        </div>
                        <div class="col-md-12 mb-3 mb-md-0">
                            <textarea name="jobDescription" class="form-control" [(ngModel)]="job.jobDescription" cols="30" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="font-weight-bold" for="fullname">Qualification</label>
                            <div class="col">
                              <input type="text" name="jobQualification" class="form-control" [(ngModel)]="qualifications[0]" placeholder="Enter 10th percentage">
                            </div>
                            <div class="col">
                              <input type="text" name="jobQualification" class="form-control" [(ngModel)]="qualifications[1]"   placeholder="Enter 12th percentage">
                            </div>
                            <div class="col">
                                <input type="text" name="jobQualification" class="form-control" [(ngModel)]="qualifications[2]"  placeholder="Enter graduation CGPA">
                              </div>
                        </div>
                    </div>
                    <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Work Environment</label>
                                <input type="text" name="workEnvironment" [(ngModel)]="job.workEnvironment" class="form-control"
                                    placeholder="eg. home or office or both">
                            </div>
                    </div>
                    <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Recruiter</label>
                                <input type="text" name="recruiter" [(ngModel)]="job.recruiter" class="form-control"
                                    placeholder="eg. home or office or both">
                            </div>
                    </div>
                    <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="font-weight-bold" for="fullname">Similar Jobs</label>
                                <input type="text" name="similarJobs" [(ngModel)]="job.similarJobs" class="form-control"
                                    placeholder="eg. home or office or both">
                            </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Post" class="btn btn-primary  py-2 px-5" (click)="createjob()">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>