<body>
        <nav class="navbar navbar-expand-lg navbar-light " style="background-color: black;">
    
            <div> <img src=".assets/image/Logo1.png" width="30" height="30" class="d-inline-block align-top" alt=""></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
    
                    <li class="nav-item active" style="padding-left: 25px;padding-top: 5px;">
                        <a class="nav-link" style="color: yellow;" [routerLink]="['/admin/addjob']" routerLinkActive="router-link-active" >Add Job <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" style="padding-left: 25px;padding-top: 5px;">
                        <a class="nav-link" style="color: yellow;" [routerLink]="['/admin/viewjob']" routerLinkActive="router-link-active" >View Jobs</a>
                    </li>
                    <li class="nav-item" style="animation-direction: reverse; padding-left: 25px;">
                        <form action="" class="form1">
                            <input type="search" class="input1" placeholder="search by role">
                            <i class="fa fa-search"></i>
                        </form>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg0" style="padding-right: 2.5em; padding-top: 5px;">
                    <a class="nav-link" style="color: yellow;" routerLink="">Logout</a>
                </form>
            </div>
        </nav>
    
    
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="form">
    
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Job ID</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Job ID">
                        </div>
    
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Job Category</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="example:Analyst">
                        </div>
    
    
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Additional Location</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Location">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Job Description</label>
                            <textarea class="form-control" id="exampleFormControlInput1" placeholder="Enter job responsibilities"></textarea>
                        </div>
    
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Job Type</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="example:DXC-Regular">
                        </div>
    
    
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Work Environment</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="exaple:Office environment">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Similar Jobs</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter related job offerings">
                        </div>
                        <button type="submit" class="btn">Post Job</button>
    
                    </form>
                </div>
                <div class="col-md-6" id="form">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Job Title</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Job title">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Primary Location</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter Location">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Schedule</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="Enter schedule">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Qualifications</label>
                            <textarea class="form-control" id="exampleFormControlInput1" placeholder="List requirements"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Job Summary</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter a short description of the job">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Recruiter</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter name of recruiter">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Years of Experience</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter years of experience required">
                        </div>
                    </form>
                </div>
    
            </div>
    
    
        </div>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>